MYSQL_HOST=192.168.1.10
MYSQL_PORT=3306
MYSQL_DATABASE=mes_production
MYSQL_USER=mes_admin
MYSQL_PASSWORD=CAMBIAR_EN_SERVER
DMS_TOKEN_SECRET=CAMBIAR_EN_SERVER
DMS_TOKEN_MAX_AGE_SECONDS=86400
PORT=5000
